### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log
bootstrap/compiled.php
app/storage/
public/storage
public/hot
storage/*.key
.env
.env.example
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

### PhpStorm ###
.DS_Store
.idea

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
*.iws

/docker/docker-compose.yml
