td.details-control {
    background: url('/icons/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/icons/details_close.png') no-repeat center center;
}
.table-details-control {
    margin: 0 !important;
}
.table-details-control td {
    background: #FFFFFF !important;
    border: none !important;
}
.code-control {
    cursor: pointer;
}
.code-control img {
    float: right;
    transform: translateY(30%);
}
#declaratii_processing {
    background: transparent !important;
    border: none !important;
}
#change-language {
    margin: 0 !important;
}
#header-declaration {
    margin: 0 0 1rem 0;
}
.btn-top {
    margin: 0 10px 0 0 !important;
}
.card-header h5.top-title {
    margin: 0.2rem 1rem 0 0;
    font-size: 1.175rem;
}
#declaration-view h4 {
    margin-top: 0.5rem;
    font-weight: bold;
}
#declaration-view .table thead th {
    border-bottom: 1px solid #343a40 !important;
}
#declaration-view .table-bordered th,
#declaration-view .table-bordered td {
    border: 1px solid #343a40 !important;
}
#declaration-view .table-borderless td {
    padding: 0.3rem 0 !important;
}
p.no-margin-bottom {
    margin-bottom: 0 !important;
}
#declaration-view hr.sub-section {
    border-top: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 0.5rem;
}
#declaration-view .table-padding-left {
    padding-left: 10%;
}
#declaration-view .bullet-padding-right {
    padding-right: 1rem;
}
#declaration-view td.legend-top-margin {
    padding: 3rem 0 0.3rem !important;
}
.top-brand {
    height: 3.3rem !important;
}
.top-brand-title {
    float: right;
    font-size: 1.1rem;
    line-height: 1.25;
    font-weight: 400;
    color: rgb(0, 70, 140);
    margin: 0.4rem 0 0 1rem;
    max-width: 200px;
}
.user-name-top-nav {
    cursor: default !important;
    font-weight: 800;
    color: rgb(0, 70, 140) !important;
}
.user-admin-top-nav {
    font-weight: 800;
    color: rgb(0, 70, 140) !important;
}
.ajax-loader {
    visibility: hidden;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: +100 !important;
    width: 100%;
    height:100%;
}
.ajax-loader img {
    position: relative;
    top: 10%;
    left: 40%;
}
.ajax-msg {
    display: none;
}
.status-declaration img {
    margin-right: 5px;
}
